<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawk.system.mapper.SysRoleMapper">
    <select id="getAllRoleList" resultType="com.hawk.system.entity.SysRole">
        SELECT sr.*
        FROM sys_role sr
                 LEFT JOIN sys_user_role sur ON sr.role_id = sur.role_id
                 LEFT JOIN sys_user u ON sur.user_id = u.user_id
                 LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
        WHERE 1 = 1
            ${params.data_scope}
    </select>

    <select id="selectDeptByRoleId" resultType="com.hawk.system.entity.SysDept">
        select *
        from sys_dept d
                 left join sys_role_dept rd on rd.dept_id = d.dept_id
                 left join sys_role r on r.role_id = rd.role_id
        where r.role_id = #{roleId}
    </select>

    <select id="selectRoleByUserId" resultType="com.hawk.system.entity.SysRole">
        SELECT r.*
        FROM sys_role r
                 LEFT JOIN sys_user_role sur ON r.role_id = sur.role_id
                 LEFT JOIN sys_user u ON sur.user_id = u.user_id
        WHERE r.del_flag = '0'
          and sur.user_id = #{userId}
    </select>

    <sql id="selectRole">
        select distinct r.role_id,
                        r.role_name,
                        r.role_key,
                        r.sort,
                        r.data_scope,
                        r.menu_check_strictly,
                        r.dept_check_strictly,
                        r.status,
                        r.del_flag,
                        r.create_time
        from sys_role r
                 left join sys_user_role sur on sur.role_id = r.role_id
                 left join sys_user u on u.user_id = sur.user_id
                 left join sys_dept d on u.dept_id = d.dept_id
    </sql>

    <select id="selectRoleList" resultType="com.hawk.system.entity.SysRole">
        <include refid="selectRole"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
