package ${packageName}.domain.bo;


import lombok.Data;
import lombok.EqualsAndHashCode;
import javax.validation.constraints.*;
import com.hawk.framework.validate.AddGroup;
import com.hawk.framework.validate.EditGroup;
import java.util.Date;

#foreach ($import in $importList)
import ${import};
#end
#if($table.crud || $table.sub)
import com.hawk.framework.common.core.base.BaseDataEntity;
#elseif($table.tree)
import com.hawk.framework.common.core.base.TreeEntity;
#end

/**
 * ${functionName}业务对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
#set($Entity="BaseEntity")
#elseif($table.tree)
#set($Entity="TreeEntity<${ClassName}Bo>")
#end

@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}Form extends ${Entity} {

#foreach ($column in $columns)
#if(!$table.isSuperColumn($column.javaField) && ($column.query || $column.insert || $column.edit))
#if($column.insert && $column.edit)
    /**
     * $column.columnComment 新增修改必填
     */
#set($Group="AddGroup.class, EditGroup.class")
#elseif($column.insert)
    /**
     * $column.columnComment 新增必填
     */
#set($Group="AddGroup.class")
#elseif($column.edit)
    /**
     * $column.columnComment 修改必填
     */
#set($Group="EditGroup.class")
#end
#if($column.required)
#if($column.javaType == 'String')
    @NotBlank(message = "$column.columnComment不能为空", groups = { $Group })
#else
    @NotNull(message = "$column.columnComment不能为空", groups = { $Group })
#end
#end
    private String $column.javaField;

#end
#end

}
