package ${packageName}.service;

import ${packageName}.domain.${ClassName};
#if($table.crud || $table.sub)
import com.github.pagehelper.PageInfo;
#end
import com.hawk.framework.base.BaseService;

import java.util.Collection;
import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends BaseService<${ClassName}>  {

    /**
     * 查询${functionName}
     */
    ${ClassName}Vo queryById(${pkColumn.javaType} ${pkColumn.javaField});

#if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     */
    PageInfo<${ClassName}> queryPageList(${ClassName} entity,  int pageNum, int pageSize);
#end

    /**
     * 查询${functionName}列表
     */
    List<${ClassName}> queryList(${ClassName} entity);

    void deleteBatch(List<Long> ids);

    int updateBatchSelective(List<${ClassName}> list);

    int updateBatchSelectiveLimit(List<${ClassName}> list,int size);

    int insertAllFieldBatch(List<${ClassName}> list);
}
